<!--
  Generated template for the TopicsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{ 'TOPICS_TITLE' | translate }}</ion-title>

    <ion-buttons end>
      <button #confirmButton ion-button icon-only (click)="confirmTopics()" *ngIf="topicsSelected != 0">
        <ion-icon name="checkmark"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content class="card-background-page no-scroll">

  <div *ngIf="topics.length == 0" class="empty-screen-wrapper" padding-left padding-right>
    <img [src]="emptyScreenImage"/>
    <h2>{{ empyScreenTitle }}</h2>
    <p>{{ empyScreenText }}</p>
  </div>

  <ion-grid no-padding *ngIf="topics.length > 0">
    <ion-row no-padding>
      <ion-col col-6 col-md-4 col-lg-3 *ngFor="let t of topics">
        <ion-card #topicCard>
          <div  class="card-overlay " [ngClass]="{'active': (indexOfTopicSelected(t) > -1)}" (click)="toggleTopicSelection(t, topicCard)">
          </div>
          <div  class="image-wrapper" [style.background-image]="'url(' + (t.image || defaultImage) + ')'" (click)="toggleTopicSelection(t, topicCard)"></div>
          <div class="card-title">{{ t.name }}</div>   
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
