page-groups {

    @import '../../assets/styles/chuzz-grid';

    .interested-button {
      margin-top: 10px;
      height: 40px;
      border-radius: 20px;
    }
    .button-toggle {
      height: 20px;
      margin-right: 10px;
    }
}
