<ion-header>

  <ion-navbar>
    <ion-title>{{ title | translate }}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>
  <ion-item class="sort">
    <ion-label >{{ 'PROFILE_SORT_BY' | translate }}</ion-label>
    <ion-select [(ngModel)]="sort"  (ionChange)="sortBy($event)" >
      <ion-option value="1" >{{ 'PROFILE_SORT_BY_YOUNGER' | translate }}</ion-option>
      <ion-option value="2" >{{ 'PROFILE_SORT_BY_OLDER' | translate }}</ion-option>
      <ion-option value="3" >{{ 'PROFILE_SORT_BY_ANSWER_YOUNGER' | translate }}</ion-option>
      <ion-option value="4" >{{ 'PROFILE_SORT_BY_ANSWER_OLDER' | translate }}</ion-option>
      <ion-option value="5" >{{ 'PROFILE_SORT_BY_ALPHABETICALLY_A' | translate }}</ion-option>
      <ion-option value="6" >{{ 'PROFILE_SORT_BY_ALPHABETICALLY_D' | translate }}</ion-option>
    </ion-select>
  </ion-item>
  <ion-list *ngIf="polls" >
    <button ion-item *ngFor="let poll of polls" (click)="openPoll(poll)" >
      {{ poll.name }}
      <p class="poll-date">{{ poll.created_at | date:'dd/MM/yyyy' }}</p>
    </button >
  </ion-list>
</ion-content>
